@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,300;0,400;1,100&display=swap");
.card {
  width: 400px;
  height: 20vh;
  background-color: aquamarine;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  margin: 16px;
  &:hover {
      transform: scale(1.01, 1.01);
      transition-duration: 500ms;
    }
  img {
    position: relative;
    width: 40%;
    height: 100%;
    border-radius: 8px 0 0 8px;

  }
  .card-info {
    position: relative;
    width: 60%;
    padding: 16px;
    font-family: "Georama", sans-serif;

    .card-years {
      font-style: italic;
      font-size: 12px;
    }

    li {
      font-size: 14px;
      margin-top: 8px;
      font-weight: 200;
      margin-top: 4px;
      margin-left: 24px;
      list-style-type: circle;
    }
  }
}
