@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.info {
  width: 100%;
  height: 100%;
  background-color: chocolate;
  padding: 64px 0;
  font-family: "Bebas Neue";
  padding: 32px;
  h1 {
    font-size: 128px;
  }
  p {
    width: 320px;
  }
}
