@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.left-container {
  width: 128px;
  font-family: "Bebas Neue";
  height: 100%;
}
.title {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 128px;
  .resume {
    border: solid 1px gray;
    background-color: white;
  }
  .theme-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: solid 1px gray;
    button {
      border-style: none;
      width: 16px;
      height: 16px;
      &:hover {
        height: 64px;
        transition: 0.5s ease-out;
      }
    }
    .white {
      background-color: white;
    }
    .black {
      background-color: black;
    }
    .yellow {
      background-color: yellow;
    }
  }
}

.logo-container {
  font-size: 64px;
  font-family: "Bebas Neue";
  text-align: center;
  padding: 32px 0;
  .logo {
  }
  .logo-title {
    font-size: 16px;
  }
}

.nav-links {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  font-family: "Bebas Neue";
  display: flex;
  transform: rotate(-90deg);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 32px;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: black;
  // padding: 16px;
  background: none;
  border: none;
  &:hover {
    background-color: burlywood;
    transition: 1s ease-out;
  }
}
