@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,300;0,400;1,100&display=swap");

.tools {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    position: absolute;
    top: 10px;
    left: 300px;
  }
  &-card {
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
    padding-bottom: 16px;
    img {
      width: 64px;
      height: 64px;
      padding-right: 16px;
    }
  }
}